GROQ_API_KEY=
TOGETHER_API_KEY=

GCP_PROJECT_ID=
GCP_REGION=
GOOGLE_API_KEY=

QDRANT_API_KEY=
QDRANT_URL=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

TEXT_MODEL_NAME=llama-3.3-70b-versatile
SMALL_TEXT_MODEL_NAME=gemma2-9b-it
STT_MODEL_NAME=whisper-large-v3-turbo
TTS_MODEL_NAME=eleven_flash_v2_5
TTI_MODEL_NAME=black-forest-labs/FLUX.1-schnell-Free
ITT_MODEL_NAME=meta-llama/llama-4-scout-17b-16e-instruct
EMBEDDING_MODEL=jinaai/jina-embeddings-v2-base-es
